<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">
	<display-name>TinyURL</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>TinyURL</servlet-name>
		<servlet-class>net.cloud.servlet.TinyURL</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TinyURL</servlet-name>
		<url-pattern>/TinyURL/*</url-pattern>
	</servlet-mapping>
</web-app>
