<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">
	<display-name>TinyURL</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>TinyURL</servlet-name>
		<servlet-class>org.javastack.tinyurl.TinyURL</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>TinyURL</servlet-name>
		<url-pattern>/tiny</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TinyURL</servlet-name>
		<url-pattern>/r/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TinyQR</servlet-name>
		<servlet-class>org.javastack.tinyurl.TinyQR</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>TinyQR</servlet-name>
		<url-pattern>/q/*</url-pattern>
	</servlet-mapping>
</web-app>
